/*Write your style here*/
.gg{
	text-align: center;

}
.rr{
	background: url("../images/banner.jpg")center;
}
.pu{
	color:  #FFFFFF;
}
.jk{
	position: absolute;
	padding: 5px;

}
.nm{
	color: #FFFFFF;
}